body {
  padding: 1rem;
}

h1, a {
  text-justify: auto;
}

main {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  background-color:whitesmoke;
  border-radius: 1rem;
  padding: 2rem;
}

.flex-container > p {
  margin: 0.25em 1rem 1rem;
}


