.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  flex-ddirection: row;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 50%;
  margin: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 15px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
